.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 50%;
    border: none;
    color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    .icon {
        color: #000000;
        border: #000;
    }
}
.content {
    font-size: 20px;
}
