.wrapperWeb {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.container {
    margin-top: 60px;
    display: flex;
    width: 100vw;
    max-width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-self: center;
    flex: 1 1 auto;
}
.content {
    flex: 1;
    margin-left: 200px; /* Để phần content không bị che bởi sidebar */
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    min-height: calc(100vh - 60px); /* Chiều cao nội dung bằng chiều cao viewport trừ đi chiều cao của header */
    box-sizing: border-box;
}
