.container {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    width: 100%;
    background-color: #000111;
    position: fixed;
    top: 0px;
    z-index: 3000;
}
.groupLogo {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 250px;
    text-decoration: none;
    .logo {
        height: 50px;
        border-radius: 50%;
    }

    color: white;
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
}
.groupSearch {
    display: flex;
    position: relative;
    height: 40px;
    width: 400px;
    border-radius: 25px;
    .inputSearch {
        background-color: #2f2f2f;
        color: white;
        width: 100%;
        padding: 0 20px;
        font-size: 16px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border: none;
    }
    .btnSearch {
        background-color: #2f2f2f;
        padding-right: 10px;
        border: none;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        img {
            opacity: 0.5;
            width: 30px;
            height: 30px;
        }
    }
}
.groupSearch:hover {
    background-color: #000111;
    border: white 1px solid;

    img {
        opacity: 1;
    }
}
.upload {
    display: flex;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #2f2f2f;
    justify-content: space-between;
    padding: 0 10px;
    img {
        height: 20px;
    }
    span {
        color: rgb(240, 227, 227);
    }
}

.groupAvatar {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    .avatar {
        height: 40px;
        border-radius: 50%;
    }
    a {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        img {
            width: 25px;
            height: 25px;
        }
    }
    button {
        background-color: #000111;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;

        img {
            width: 30px;
            height: 30px;
        }
        sup {
            font-size: 15px;
            color: #ffffff;
            padding: 2px 5px;
            background-color: var(--primary-color);
            border-radius: 50%;
            position: relative;
            top: -15px;
            left: -15px;
        }
    }
}
.wrapWithoutLogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.searchResult {
    width: 400px;
}
.noticeResult {
    position: absolute;
    right: -100px;
    width: 300px;
}
